:root {
    --width: 60vw;
    --res: calc(1920 / 1080);
}

* {
    box-sizing: border-box;
}

img {
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    overflow-x: hidden;
}

button, #bar, #doc-nav {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

*, *::after, *::before {
    color: #eef;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #224;
}

button {
    background: none;
    border: 2px solid #ddf;
    border-radius: 100px;
    padding: 5px 10px;
    transition: all 0.25s;
    font: inherit;
    cursor: pointer;
}

button:hover {
    background: #ddf;
    color: #112;
}

#cover2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 101;
}

#cover2 {
    display: initial;
    background: #000e;
    opacity: 0;
    display: none;
    transition: all 0.25s;
}

#cover2.active {
    opacity: 1;
}

#dialog, #img, #container1, #img #bgi, #img::before {
    box-sizing: border-box;
}

#dialog {
    position: fixed;
    width: 50vw;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    opacity: 0;
    padding: 20;
    z-index: 102;
}

#dialog.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

#img {
    position: relative;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

#img #bgi {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/img1.jpg') center;
    background-size: cover;
    z-index: -2;
    filter: blur(10px);
    border-radius: 20px 20px 0 0;
}

#img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 20px 20px 0 0;
}

#img img {
    display: block;
    width: calc(var(--width) / 2);
    margin: 0 auto;
}

#img img:-webkit-full-screen {
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

#img img:-moz-full-screen {
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

#img img:-ms-fullscreen {
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

#container1 {
    padding: 20px;
    border: 2px solid #fff;
    border-top: none;
    border-radius: 0 0 20px 20px;
}

#title, #desc, #close {
    margin: 10px 0;
}

#title {
    font-size: 1.2em;
}

#bar {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0;
    padding: 10px 0 15px 0;
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 2vw;
    z-index: 99;
}

#doc-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 99;
    padding: 20px;
    box-sizing: border-box;
}

#doc-nav, #bar {
    background: #224;
    box-shadow: 0 0 10px 0 #000;
}

.ham {
    position: fixed;
    right: 10px;
    top: 20px;
    font-size: 1.5em;
    padding: 0 20px;
    filter: drop-shadow(0px 0px 5px #aaf);
    cursor: pointer;
    transition: transform 0.25s;
}

.ham:hover {
    transform: scale(1.2);
}

.ham-exit {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #aaf);
    transition: all 0.5s;
}

.ham-exit:hover {
    transform: scaleX(1.1);
}

.nav-item-active {
    font-size: 1.2em;
}

.menu-cover {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-size: 1.5em;
    background: linear-gradient(45deg, #444488, #000);
    font-variant: small-caps;
    display: none;
    opacity: 0;
    transition: all 1s;
}

.menu-cover table {
    width: 100vw;
}

.site-nav-item, .spitem {
    position: relative;
    margin: 5px 10px;
    padding: 5px 20px;
    transition: all 1s;
    cursor: pointer;
    display: inline-block;
}

.spitem {
    border: 1.5px solid #fff;
}

.site-nav-item::before, .spitem::before {
    content: '';
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: all 0.25s;
    z-index: -1;
    opacity: 0;
}

.spitem::before {
    width: 0;
    height: 100%;
}

.site-nav-item:hover {
    color: #222244;
}

.spitem:hover {
    color: #222244;
}

.site-nav-item, .spitem {
    opacity: 0;
    transform: scale(0);
    transition: 0.25s all;
}

.site-nav-item:hover::before, .spitem:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.ham-exit {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #aaf);
    transition: all 0.5s;
}

.ham-exit:hover {
    transform: scaleX(1.1);
}

.site-nav-item a {
    color: inherit;
    text-decoration: none;
}

#cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 11100;
}

#loader {
    position: fixed;
    background: radial-gradient(#000, #448);
    z-index: 10000;
    stroke-dasharray: 8000px;
    stroke-dashoffset: 8000px;
    animation-name: draw2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.table {
    display: table;
    width: 100vw;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#details {
    z-index: 900;
}

@keyframes draw2 {
    to {
        stroke-dashoffset: -5000px;
    }
    50% {
        stroke-dashoffset: 0;
    }
}

.focus {
    opacity: 0;
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 0 10000vw #000d;
    transition: all 0.25s;
    border-radius: 20px;
}

.focus.active {
    opacity: 1;
}

.focus-cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.intro-dialog {
    z-index: 110;
    position: fixed;
    margin: 50vh 50vw;
    width: 50vw;
    transform: translate(-50%, -50%) scale(0);
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #000;
    transition: all 0.25s;
}

.intro-dialog.active {
    transform: translate(-50%, -50%) scale(1);
}

#prev, #next, #skip {
    margin-top: 30px;
}

#prev {
    display: none;
}

#book, #front {
    width: var(--width);
}

#book {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: calc(var(--width) / var(--res));
    perspective: 100em;
}

#back {
    z-index: -100;
}

.left, .right {
    position: absolute;
    width: var(--width);
    border: 10px solid #eef;
    cursor: pointer;
}

.left.top, .right.bottom, #back .left {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.left.bottom, #back.right {
    transform-origin: 50% 50%;
    transform: rotateY(-180deg);
}

.right.bottom {
    transform: rotateY(180deg);
}

.right.top, .left.bottom {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.top {
    backface-visibility: hidden;
}

.left {
    z-index: 2;
}

.right {
    z-index: 1;
}

.bottom {
    z-index: -1;
}

/* .left.top {
    transform: rotateY(180deg);
}

.left.bottom {
    transform: none;
}

.right {
    z-index: -2;
} */

@media screen and (max-width: 1200px) {
    :root {
        --width: 75vw;
    }
}

@media screen and (max-width: 900px) {
    #dialog, .intro-dialog {
        width: 75%;
    }
    :root {
        --width: 100vw;
    }
    .fpl, .fpr {
        border-width: 5px;
    }
    .page {
        width: calc(var(--width) + 10px);
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: auto auto;
    }
    #dialog, .intro-dialog {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .grid {
        grid-template-columns: auto;
    }
    #dialog, .intro-dialog {
        width: 100%;
    }
}