/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
body, html {
  margin: 0;
  font-family: 'Dosis', sans-serif; }

body {
  background: -o-linear-gradient(315deg, #212a63, #106f69) fixed;
  background: linear-gradient(135deg, #212a63, #106f69) fixed;
  color: #dcffd1; }

* {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent; }
  *::-moz-selection {
    background: #222244;
    color: #eef; }
  *::selection {
    background: #222244;
    color: #eef; }

header {
  position: -webkit-sticky;
  position: sticky;
  background: inherit;
  top: 0;
  padding: 10px 10vw;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 3;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border-bottom: 1px solid #212a63; }
  header.onscroll {
    -webkit-box-shadow: 0 0 10px 2px #212a63;
    box-shadow: 0 0 10px 2px #212a63; }
  header::after {
    content: '';
    display: table;
    clear: both; }
  header #nav-button {
    display: none; }
  header img {
    height: 50px;
    vertical-align: middle; }
  header nav {
    float: right;
    font-size: 1.2em;
    padding-top: 5px; }
    header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      header nav ul li {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 2em;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        cursor: pointer; }
        header nav ul li a {
          color: #dcffd1;
          text-decoration: none;
          -webkit-transition: all 0.25s;
          -o-transition: all 0.25s;
          transition: all 0.25s; }
        header nav ul li:hover {
          -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          transform: translateY(-2px);
          -webkit-box-shadow: 0 2px 2px 0 #212a63;
          box-shadow: 0 2px 2px 0 #212a63; }
        header nav ul li.active {
          background: #dcffd1;
          -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          transform: translateY(-5px);
          -webkit-box-shadow: 0 5px 5px 0 #212a63;
          box-shadow: 0 5px 5px 0 #212a63; }
          header nav ul li.active a {
            color: #073939;
            font-weight: bold; }

#hero-n-counter {
  padding: 0 40px;
  position: relative;
  z-index: 1;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50px auto;
  grid-template-columns: auto auto;
  grid-column-gap: 50px; }
  #hero-n-counter #hero {
    text-align: center;
    vertical-align: middle;
    display: table;
    height: 100%; }
    #hero-n-counter #hero img {
      width: 50vw;
      -webkit-filter: drop-shadow(5px 5px 5px #212a63);
      filter: drop-shadow(5px 5px 5px #212a63); }
  #hero-n-counter #counters {
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table; }
    #hero-n-counter #counters .counter {
      margin: 10px 0; }
      #hero-n-counter #counters .counter .count {
        font-size: 4em;
        color: #dcffd1;
        font-weight: bold;
        background: transparent;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 500px;
        border: 2px solid #dcffd1;
        -webkit-box-shadow: 0 5px 5px #212a63;
        box-shadow: 0 5px 5px #212a63; }
      #hero-n-counter #counters .counter .name {
        font-size: 1.5em;
        color: #212a63;
        background: #dcffd1;
        border: 2px solid #106f69;
        padding: 10px 30px;
        border-radius: 50px;
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-box-shadow: 0 5px 5px #212a63;
        box-shadow: 0 5px 5px #212a63;
        display: inline-block; }

.tr {
  display: table-row;
  height: 100%; }

.tc {
  display: table-cell;
  vertical-align: middle;
  height: 100%; }

#main {
  margin: 40px; }
  #main .title {
    font-size: 2.5em;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 1000px;
    background: #dcffd1;
    color: #073939;
    -webkit-box-shadow: 5px 5px 10px #212a63;
    box-shadow: 5px 5px 10px #212a63;
    z-index: 2;
    position: absolute;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
    #main .title:nth-of-type(odd) {
      left: 0; }
    #main .title:nth-of-type(even) {
      right: 0; }
  #main .content {
    font-size: 1.3em;
    margin: 80px 50px;
    border: 2px solid #dcffd1;
    padding: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px #212a63;
    box-shadow: 5px 5px 10px #212a63; }
    #main .content a {
      color: #dcd100; }
    #main .content::-moz-selection {
      background: #dcffd1;
      color: #073939; }
    #main .content::selection {
      background: #dcffd1;
      color: #073939; }
  #main #speakers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(25% - 15px) 20px calc(25% - 15px) 20px calc(25% - 15px) 20px calc(25% - 15px);
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    text-align: center;
    grid-row-gap: 40px;
    grid-column-gap: 20px; }
    #main #speakers .card {
      position: relative; }
      #main #speakers .card .card-image {
        border-radius: 20px;
        padding: 10px;
        width: 250px;
        border: 2px solid #dcffd1;
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #main #speakers .card .card-image:hover {
          -webkit-filter: blur(10px);
          filter: blur(10px); }
      #main #speakers .card .card-details {
        top: 0;
        padding-top: 80px;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #dcffd188;
        color: #073939;
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; }
        #main #speakers .card .card-details .name {
          font-size: 1.5em;
          font-weight: bold; }
        #main #speakers .card .card-details.show {
          opacity: 1; }

@media screen and (max-width: 1300px) {
  #speakers {
    -ms-grid-columns: calc(33.33% - 13.33px) calc(33.33% - 13.33px) calc(33.33% - 13.33px) !important;
    grid-template-columns: calc(33.33% - 13.33px) calc(33.33% - 13.33px) calc(33.33% - 13.33px) !important; } }
@media screen and (max-width: 1030px) {
  header nav {
    position: fixed;
    right: 20px;
    top: 80px;
    background: #073939;
    padding: 20px;
    border-radius: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 100; }
    header nav li {
      display: block !important; }
    header nav.show {
      opacity: 1;
      border-radius: 20px; }

  #nav-button {
    display: initial !important;
    position: fixed;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    padding: 5px 20px;
    font-size: 1.5em;
    color: #dcffd1;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    #nav-button.active {
      background: #dcffd1;
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0 5px 5px 0 #212a63;
      box-shadow: 0 5px 5px 0 #212a63;
      font-weight: bold;
      color: #073939;
      border-radius: 50px; }

  #speakers {
    -ms-grid-columns: calc(50% - 10px) calc(50% - 10px) !important;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px) !important; } }
@media screen and (max-width: 800px) {
  #hero-n-counter {
    display: block;
    text-align: center; }
    #hero-n-counter #counters {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      position: initial; }
    #hero-n-counter #hero {
      padding: calc(10vw - 40px);
      height: auto; }
    #hero-n-counter .tc, #hero-n-counter .tr {
      display: initial; }

  #hero img {
    width: 80vw !important; }

  #counters, .counter {
    display: block !important;
    margin: 20px; }

  #speakers {
    -ms-grid-columns: auto !important;
    grid-template-columns: auto !important; }

  .content {
    width: 100%;
    margin: 80px 0 !important; } }
.hl2 {
  font-weight: bold;
  text-decoration: underline; }

.ql a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #dcffd1;
  border-radius: 100px;
  text-decoration: none;
  color: #dcffd1 !important;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .ql a:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 5px 5px 0 #212a63;
    box-shadow: 0 5px 5px 0 #212a63; }

/*# sourceMappingURL=styles.css.map */
