body, html {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

body {
  background: linear-gradient(135deg, #1a0041, #7f44ff) fixed;
  color: #dcd1ff;
}

* {
  position: relative;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

header {
  position: sticky;
  background: inherit;
  top: 0;
  padding: 10px 10vw;
  box-shadow: none;
  user-select: none;
  z-index: 3;
  transition: all 0.25s;
  border-bottom: 1px solid #1a0041;

  &.onscroll {
    box-shadow: 0 0 10px 1px #1a0041;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  #nav-button {
    display: none;
  }

  img {
    height: 50px;
    vertical-align: middle;
  }

  nav {
    float: right;
    font-size: 1.2em;
    padding-top: 5px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 2em;
        transition: all 0.25s;
        cursor: pointer;

        a {
          color: #dcd1ff;
          text-decoration: none;
          transition: all 0.25s;
        }

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 2px 2px 0 #1a0041;
        }

        &.active {
          background: #dcd1ff;
          transform: translateY(-5px);
          box-shadow: 0 5px 5px 0 #1a0041;

          a {
            color: #3d00bb;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#hero-n-counter {
  padding: 40px;
  position: relative;
  z-index: 1;
  height: 100vh;

  #hero {
    text-align: center;

    img {
      width: 50vw;
      border-radius: 50vh;
      border: 2px solid #dcd1ff;
      padding: 10px;
      box-shadow: 0 5px 10px #1a0041;
      margin-bottom: 40px;
    }
  }

  #counters {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;

    .counter {
      .count {
        font-size: 4em;
        color: #dcd1ff;
        font-weight: bold;
        background: transparent;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 500px;
        border: 1px solid #dcd1ff;
        box-shadow: 0 5px 5px #1a0041;
      }

      .name {
        font-size: 1.5em;
        color: #1a0041;
        background: #dcd1ff;
        border: 1px solid #7f44ff;
        padding: 10px 30px;
        border-radius: 50px;
        transform: translateY(-5px);
        box-shadow: 0 5px 5px #1a0041;
        display: inline-block;
      }
    }
  }
}

#main {
  margin: 40px;

  .title {
    font-size: 2.5em;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 1000px;
    background: #dcd1ff;
    color: #3d00bb;
    box-shadow: 5px 5px 10px #1a0041;
    z-index: 2;
    position: absolute;
    transform: translateY(-40px);

    &:nth-of-type(odd) {
      left: 0;
    }

    &:nth-of-type(even) {
      right: 0;
    }
  }

  .content {
    font-size: 1.3em;
    margin: 80px 50px;
    border: 1px solid #dcd1ff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #1a0041;

    a {
      color: #dcd100;
    }

    &::selection {
      background: #dcd1ff;
      color: #3d00bb;
    }
  }

  #speakers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-row-gap: 40px;
    grid-column-gap: 20px;

    .card {
      position: relative;
      .card-image {
        border-radius: 20px;
        padding: 10px;
        border: 1px solid #dcd1ff;
        filter: blur(0);
        transition: all 0.5s;

        &:hover {
          filter: blur(10px);
        }
      }

      .card-details {
        top: 0;
        padding-top: 80px;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #dcd1ff88;
        color: #3d00bb;
        opacity: 0;
        transition: opacity 0.5s;

        .name {
          font-size: 1.5em;
          font-weight: bold;
        }

        &.show {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  #speakers {
    grid-template-columns: auto auto auto !important;
  }
}

@media screen and (max-width: 1030px) {
  header nav {
    position: fixed;
    right: 20px;
    top: 80px;
    background: #7f44ff;
    padding: 20px;
    border-radius: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    z-index: 100;

    li {
      display: block !important;
    }

    &.show {
      opacity: 1;
      border-radius: 20px;
    }
  }

  #nav-button {
    display: initial !important;
    position: fixed;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    padding: 5px 20px;
    font-size: 1.5em;
    color: #dcd1ff;
    transition: all 0.25s;

    &.active {
      background: #dcd1ff;
      transform: translateY(-5px);
      box-shadow: 0 5px 5px 0 #1a0041;
      font-weight: bold;
      color: #3d00bb;
      border-radius: 50px;
    }
  }

  #speakers {
    grid-template-columns: auto auto !important;
  }
}

@media screen and (max-width: 800px) {
  #hero img {
    width: 80vw !important;
  }

  #counters, .counter {
    display: block !important;
    margin: 20px;
  }

  #speakers {
    grid-template-columns: auto !important;
  }

  .content {
    width: 100%;
    margin: 80px 0 !important;
  }
}
