body, html {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

body {
  background: linear-gradient(135deg, #212a63, #106f69) fixed;
  color: #dcffd1;
}

* {
  position: relative;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &::selection {
    background: #222244;
    color: #eef;
  }
}

header {
  position: sticky;
  background: inherit;
  top: 0;
  padding: 10px 10vw;
  box-shadow: none;
  user-select: none;
  z-index: 3;
  transition: all 0.25s;
  border-bottom: 1px solid #212a63;

  &.onscroll {
    box-shadow: 0 0 10px 2px #212a63;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  #nav-button {
    display: none;
  }

  img {
    height: 50px;
    vertical-align: middle;
  }

  nav {
    float: right;
    font-size: 1.2em;
    padding-top: 5px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 2em;
        transition: all 0.25s;
        cursor: pointer;

        a {
          color: #dcffd1;
          text-decoration: none;
          transition: all 0.25s;
        }

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 2px 2px 0 #212a63;
        }

        &.active {
          background: #dcffd1;
          transform: translateY(-5px);
          box-shadow: 0 5px 5px 0 #212a63;

          a {
            color: #073939;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#hero-n-counter {
  padding: 0 40px;
  position: relative;
  z-index: 1;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;

  #hero {
    text-align: center;
    vertical-align: middle;
    display: table;
    height: 100%;

    img {
      width: 50vw;
      border-radius: 50vh;
      border: 2px solid #dcffd1;
      padding: 10px;
      box-shadow: 0 5px 10px #212a63;
    }
  }

  #counters {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: table;

    .counter {
      margin: 10px 0;
      .count {
        font-size: 4em;
        color: #dcffd1;
        font-weight: bold;
        background: transparent;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 500px;
        border: 2px solid #dcffd1;
        box-shadow: 0 5px 5px #212a63;
      }

      .name {
        font-size: 1.5em;
        color: #212a63;
        background: #dcffd1;
        border: 2px solid #106f69;
        padding: 10px 30px;
        border-radius: 50px;
        transform: translateY(-5px);
        box-shadow: 0 5px 5px #212a63;
        display: inline-block;
      }
    }
  }
}

.tr {
  display: table-row;
  height: 100%;
}

.tc {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

#main {
  margin: 40px;

  .title {
    font-size: 2.5em;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 1000px;
    background: #dcffd1;
    color: #073939;
    box-shadow: 5px 5px 10px #212a63;
    z-index: 2;
    position: absolute;
    transform: translateY(-40px);

    &:nth-of-type(odd) {
      left: 0;
    }

    &:nth-of-type(even) {
      right: 0;
    }
  }

  .content {
    font-size: 1.3em;
    margin: 80px 50px;
    border: 2px solid #dcffd1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #212a63;

    a {
      color: #dcd100;
    }

    &::selection {
      background: #dcffd1;
      color: #073939;
    }
  }

  #speakers {
    display: grid;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    text-align: center;
    grid-row-gap: 40px;
    grid-column-gap: 20px;

    .card {
      position: relative;
      .card-image {
        border-radius: 20px;
        padding: 10px;
        width: 250px;
        border: 2px solid #dcffd1;
        filter: blur(0);
        transition: all 0.5s;

        &:hover {
          filter: blur(10px);
        }
      }

      .card-details {
        top: 0;
        padding-top: 80px;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #dcffd188;
        color: #073939;
        opacity: 0;
        transition: opacity 0.5s;

        .name {
          font-size: 1.5em;
          font-weight: bold;
        }

        &.show {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  #speakers {
    grid-template-columns: calc(33.33% - 13.33px) calc(33.33% - 13.33px) calc(33.33% - 13.33px) !important;
  }
}

@media screen and (max-width: 1030px) {
  header nav {
    position: fixed;
    right: 20px;
    top: 80px;
    background: #073939;
    padding: 20px;
    border-radius: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    z-index: 100;

    li {
      display: block !important;
    }

    &.show {
      opacity: 1;
      border-radius: 20px;
    }
  }

  #nav-button {
    display: initial !important;
    position: fixed;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    padding: 5px 20px;
    font-size: 1.5em;
    color: #dcffd1;
    transition: all 0.25s;

    &.active {
      background: #dcffd1;
      transform: translateY(-5px);
      box-shadow: 0 5px 5px 0 #212a63;
      font-weight: bold;
      color: #073939;
      border-radius: 50px;
    }
  }

  #speakers {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px) !important;
  }
}

@media screen and (max-width: 800px) {
  #hero-n-counter {
    display: block;
    text-align: center;

    #counters {
      transform: none;
      position: initial;
    }

    #hero {
      padding: calc(10vw - 40px);
      height: auto;
    }

    .tc, .tr {
      display: initial;
    }
  }

  #hero img {
    width: 80vw !important;
  }

  #counters, .counter {
    display: block !important;
    margin: 20px;
  }

  #speakers {
    grid-template-columns: auto !important;
  }

  .content {
    width: 100%;
    margin: 80px 0 !important;
  }
}

.hl2 {
  font-weight: bold;
  text-decoration: underline;
}

.ql a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #dcffd1;
  border-radius: 100px;
  text-decoration: none;
  color: #dcffd1 !important;
  transition: all 0.25s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 0 #212a63;
  }
}
